global-include LICENSE LICENSE.TXT
global-include README README.md

graft docs
graft libs/asge/cmake/build
graft libs/asge/cmake/functions
graft libs/asge/cmake/libs
graft libs/asge/engine/examples
graft libs/asge/engine/include
graft libs/asge/engine/libs/freetype2/builds
graft libs/asge/engine/libs/freetype2/devel
graft libs/asge/engine/libs/freetype2/include
graft libs/asge/engine/libs/freetype2/src
graft libs/asge/engine/libs/freetype2/subprojects
graft libs/asge/engine/libs/glad
graft libs/asge/engine/libs/glfw/CMake
graft libs/asge/engine/libs/glfw/deps
graft libs/asge/engine/libs/glfw/include
graft libs/asge/engine/libs/glfw/src
graft libs/asge/engine/libs/glm/glm
graft libs/asge/engine/libs/msdfgen
graft libs/asge/engine/libs/physfs/src
graft libs/asge/engine/src
graft libs/pybind11/include
graft libs/pybind11/tools
graft src
graft tests

include CMakeLists.txt
include libs/asge/CMakeLists.txt
include libs/asge/cmake/CMakeLists.txt
include libs/asge/engine/CMakeLists.txt
include libs/asge/examples/CMakeLists.txt
include libs/asge/examples/helloasge/ASGEGame.cpp
include libs/asge/engine/libs/CMakeLists.txt
include libs/asge/engine/libs/freetype2/CMakeLists.txt
include libs/asge/engine/libs/freetype2/README
include libs/asge/engine/libs/glfw/CMakeLists.txt
include libs/asge/engine/libs/glfw/cmake_uninstall.cmake.in
include libs/asge/engine/libs/glm/CMakeLists.txt
include libs/asge/engine/libs/msdfgen/msdfgen.cmake
include libs/asge/engine/libs/physfs++/CMakeLists.txt
include libs/asge/engine/libs/physfs++/include/PhysFS/PhysFS.hpp
include libs/asge/engine/libs/physfs++/source/CMakeLists.txt
include libs/asge/engine/libs/physfs++/source/PhysFS/PhysFS.cpp
include libs/asge/engine/libs/physfs/CMakeLists.txt
include libs/asge/engine/libs/stb/*.h
include libs/pybind11/CMakeLists.txt
include libs/asge/engine/libs/physfs/extras/physfs.pc.in
include libs/asge/engine/libs/physfs/docs/Doxyfile

prune cmake-build*
prune build
